# Copyright (c) 2023 Andreas Sandberg
# SPDX-License-Identifier: Apache-2.0

config BOARD_PAI_MOBILITY_SUBCONTROLLER
	select SOC_STM32G473XX

config ENABLE_PAI_MOBILITY_SUBCONTROLLER_RGB_LED
	bool "Enable the RGB led of the subcontroller"
	default y
	help
		Enable the RGB led of the subcontroller by turning the MOSFET connected to the cathode on.

config ENABLE_PAI_MOBILITY_SUBCONTROLLER_RGB_LED_SETUP_PRIORITY
	int "RGB LED enable pin setup priority"
	default 50
	help
	  Priority used to setup the enable pin of the RGB LED . 


config PAI_MOBILITY_SETUP_TPL5010_PRIORITY
	int "TPL5010 setup priority"
	default 5
	help
	  Priority used to setup TPL5010 watchdog chip.